body {
	background-color: #66747B;
	margin-top: 20px;
	font-size: 24px;
	color: #F3F9F3;
	font-family: 'Roboto Condensed', sans-serif;

}

.jumbotron {
	background-color: #FF8E58;
	margin: 50px 50px 0px 50px;
	text-align: center;
}

.btn{
	background-color: #5FAAF2;
}

.btn:hover{
	background-color: #FFD858;
}

.btn-success {
	background-color: #5FAAF2;
}

.row-2 {
	text-align: center;
}

img {
	width: 400px auto;
	height: 300px auto;
	margin-left: 30px;
	padding-bottom: 30px;
}